.list-item {
  padding: 4px calc(var(--spacing-unit) * 2);
  border-bottom: 1px solid var(--background-gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item-selected {
  background-color: var(--background-gray);
}

.delete-item {
  height: 24px;
  text-align: center;
}
