.sidebar {
  background: var(--background-light-gray);
  box-shadow: var(--shadow-small);
  /* width: 20%;*/
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* padding: var(--spacing-unit) 4px; */
}

.title {
  padding: var(--spacing-unit);
  /* text-align: center; */
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.sidebar-footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
